body {
  background-color: aquamarine;
}
header{
  text-align: center;
}
header img{
  width: 20%;
}
article
{
  margin: 1.5%;
  padding: 5%;
  border: 1px solid black;
  float: left;
  width: 20%;
  text-align: center;
}
footer
{
  clear: both;
}
section div img
{
  width: 50%;
}